header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        list-style-type: none;

        a {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
        }

        & + li {
            margin-left: 30px;

            &::before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 20px;
                background-color: #fff;
                margin-top: 3px;
                margin-right: 30px;
            }
        }

        &.isActive a {
            color: orange;
        }
    }
}